version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:20.11
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "package-lock.json" }}
            - v2-deps-
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: v2-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Build Next.js
          command: npm run build


workflows:
  build_and_test:
    jobs:
      - build